@charset "UTF-8"

 * {
     font-family: Arial, Helvetica, sans-serif;
 }
 
 body {
     background-image: linear-gradient(to right, #EDA09E, #CA6471);
 }
 
 main {
     background-color: white;
     border-radius: 10px;
     box-shadow: 5px 5px 15px #2D465D;
     width: 600px;
     padding: 10px;
     margin: auto;
 }

 h1 {
     color: #2D465D;
     text-align: center;
     text-shadow: 2px 1px 3px #213649;
 }

 h2 {
     color: #EDA09E;
 }

 p {
     text-align: justify;
 }